<header class="header">

  <!-- Top Bar -->

  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/phone.png" alt=""></div>+00 0000 0000</div>
          <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/mail.png" alt=""></div><a href="mailto:globalConseil@gmail.com">globalConseil@gmail.com</a></div>
          <div class="top_bar_content ml-auto">
            <div class="top_bar_menu">
              <ul class="standard_dropdown top_bar_dropdown">
                <li>
                  <a href="#">English<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">arabe</a></li>
                    <li><a href="#">francais</a></li>
                    
                  </ul>
                </li>
                <li>
                  <a href="#">menu<i class="fas fa-chevron-down"></i></a>
                  <!-- <ul>
                    <li><a href="#">EUR Euro</a></li>
                    <li><a href="#">GBP British Pound</a></li>
                    <li><a href="#">JPY Japanese Yen</a></li>
                  </ul> -->
                </li>
              </ul>
            </div>
            <div class="top_bar_user">
              <div class="user_icon"><img src="images/user.svg" alt=""></div>
              <div><a routerLink="/login">Log in </a></div>
              <div><a href="#">Sign in</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>		
  </div>

  <!-- Header Main -->

  <div class="header_main">
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo"><a href="#">Global Conseil</a></div>
          </div>
        </div>

        <!-- Search -->
        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form action="#" class="header_search_form clearfix">
                  
                  <input type="search" required="required" class="header_search_input" placeholder="Recherche par mots clés...">
                  
                  <div class="custom_dropdown" >
                    <div class="custom_dropdown_list" >
                      <span class="custom_dropdown_placeholder clc" >All Categories</span>
                      <i class="fas fa-chevron-down"></i>
                      <ul class="custom_list clc" >
                        <li><a class="clc" href="#">All Categories</a></li>
                        <li><a class="clc" href="#">Social</a></li>
                        <li><a class="clc" href="#">Juridique</a></li>
                        <li><a class="clc" href="#">Foncier</a></li>
                        <li><a class="clc" href="#">Fiscal</a></li>
                        <li><a class="clc" href="#">législation</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="submit" class="header_search_button trans_300" value="Submit"><i class="fas fa-search"></i></button>
                </form>
                
              </div>
            </div>
          </div>
              <div class="recherche_avancer"><a href="#">Recherche avancée </a></div>
       
        </div>

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist_icon"><img src="images/heart.png" alt=""></div>
              <!-- <div class="wishlist_content">
                <div class="wishlist_text"><a href="#">Wishlist</a></div>
                <div class="wishlist_count">115</div>
              </div> -->
            </div>

            <!-- Cart -->
            <div class="cart">
              <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <!-- <div class="cart_icon">
                  <img src="images/cart.png" alt="">
                  <div class="cart_count"><span>10</span></div>
                </div> -->
                <div class="cart_content">
                  <div class="cart_text"><a href="#">Cart</a></div>
                  <div class="cart_price">O DT</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <div class="main_nav_content d-flex flex-row">

            <!-- Categories Menu -->

            <div class="cat_menu_container">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_burger"><span></span><span></span><span></span></div>
                <div class="cat_menu_text">categories</div>
              </div>

              <ul class="cat_menu">
                <li><a href="#">Fiscal <i class="fas fa-chevron-right ml-auto"></i></a></li>
                <li><a href="#">Social<i class="fas fa-chevron-right"></i></a></li>
                <li class="hassubs">
                  <a href="#">Foncier<i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li class="hassubs">
                      <a href="#">Menu Item<i class="fas fa-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                      </ul>
                    </li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>
                <li><a href="#">Droit de l'homme<i class="fas fa-chevron-right"></i></a></li>
                <!-- <li><a href="#">TV & Audio<i class="fas fa-chevron-right"></i></a></li> -->
                <li><a href="#">Fiscal<i class="fas fa-chevron-right"></i></a></li>
                <li><a href="#">Investissement<i class="fas fa-chevron-right"></i></a></li> -->
                <li><a href="#">Législation<i class="fas fa-chevron-right"></i></a></li>
                <!-- <li><a href="#">Accessories<i class="fas fa-chevron-right"></i></a></li> --> -->
              </ul>
            </div>

            <!-- Main Nav Menu -->

            <div class="main_nav_menu ml-auto">
              <ul class="standard_dropdown main_nav_dropdown">
                <li><a href="#" class="light-blue">Home<i class="fas fa-chevron-down"></i></a></li>
                <li class="hassubs">
                  <a href="#" class="light-blue">Our offers<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <li>
                      <a href="#" class="light-blue">Abonnement<i class="fas fa-chevron-down"></i></a>
                      <ul>
                        <li><a href="#">Gold<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Diamond<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Plainium<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Bronze<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Silver<i class="fas fa-chevron-down"></i></a></li>

                      </ul>
                    </li>
                    <li><a href="#">Offre1<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Offre2 Item<i class="fas fa-chevron-down"></i></a></li>
                  </ul>
                </li>
             
                <li class="hassubs">
                  <a href="#" class="light-blue">Pages<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <li><a href="shop.html">Services<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="product.html">Categories<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="cart.html">Recherche<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
                  </ul>
                </li>
                <li><a href="blog.html" class="light-blue">A propos<i class="fas fa-chevron-down"></i></a></li>
                <li><a href="contact.html" class="light-blue">Contact<i class="fas fa-chevron-down"></i></a></li>
              </ul>
            </div>

            <!-- Menu Trigger -->

            <div class="menu_trigger_container ml-auto">
              <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                <div class="menu_burger">
                  <div class="menu_trigger_text">menu</div>
                  <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Menu -->

  <div class="page_menu">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <div class="page_menu_content">
            
            <div class="page_menu_search">
              <form action="#">
                <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
              </form>
            </div>
            <ul class="page_menu_nav">
              <li class="page_menu_item has-children">
                <a href="#">Language<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Arabe<i class="fa fa-angle-down"></i></a></li>
                </ul>
              </li>
              <!-- <li class="page_menu_item has-children">
                <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                </ul>
              </li> -->
              <li class="page_menu_item">
                <a href="#">Home<i class="fa fa-angle-down"></i></a>
              </li>
             
             
              
              <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
              <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
            </ul>
            
            <div class="menu_contact">
              <div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+00000000</div>
              <div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:prestacode@gmail.com">fastsales@gmail.com</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
	<!-- Banner -->

	<div class="banner">
		<div class="banner_background" style="background-image:url(assets/images/banner_background.jpg)"></div>
		<div class="container fill_height">
			<div class="row fill_height">
				<div class="banner_product_image"><img src="assets/images/banner.jpg" alt=""></div>
				<div class="col-lg-5 offset-lg-4 fill_height">
					<div class="banner_content">
						<h1 class="banner_text">Base Documentale avec notre support</h1>
						<div class="banner_price">Répponse a vos questions</div>
						<div class="banner_product_name">Abonnez-vous maintenant</div>
						<div class="button banner_button"><a href="#">Abonnez vous</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Characteristics -->

	<div class="characteristics">
		<div class="container">
			<div class="row categorie">

				<!-- Législation -->
				<div class="col-lg-3 col-md-6 char_col">
					
					<div class="card char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img class="image" src="assets/images/legislation.jpg" alt=""></div>
						<div class="char_content">
							<div class="char_title">Législation</div>
							<div class="char_subtitle">.....</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">
					<!-- Droit de l'homme -->
					<div class="card char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img class="image" src="assets/images/droit.png" alt=""></div>
						<div class="char_content">
							<div class="char_title" >Droit de l'homme</div>
							<div class="char_subtitle">23 articles</div>
						</div>
					</div>
				</div>

				<!-- Juridique -->
				<div class="col-lg-3 col-md-6 char_col">
					
					<div class="card char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img class="image" src="assets/images/juridique1.jpg" alt=""></div>
						<div class="char_content">
							<div class="char_title">Juridique</div>
							<div class="char_subtitle">3 articles</div>
						</div>
					</div>
				</div>

				<!-- Finance -->
				<div class="col-lg-3 col-md-6 char_col ">
					
					<div class="card char_item d-flex flex-row align-items-center justify-content">
						<div class="char_icon"><img class="image" src="assets/images/finance1.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Finance</div>
							<div class="char_subtitle">5 articles</div>
						</div>
					</div>
				</div>

			</div>
      <div class="row categorie" >

				<!-- Législation -->
				<div class="col-lg-3 col-md-6 char_col">
					
					<div class="card char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img class="image" src="assets/images/legislation.jpg" alt=""></div>
						<div class="char_content">
							<div class="char_title">Législation</div>
							<div class="char_subtitle">.....</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">
					<!-- Droit de l'homme -->
					<div class="card char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img class="image" src="assets/images/droit.png" alt=""></div>
						<div class="char_content">
							<div class="char_title" >Droit de l'homme</div>
							<div class="char_subtitle">23 articles</div>
						</div>
					</div>
				</div>

				<!-- Juridique -->
				<div class="col-lg-3 col-md-6 char_col">
					
					<div class="card char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img class="image" src="assets/images/juridique1.jpg" alt=""></div>
						<div class="char_content">
							<div class="char_title">Juridique</div>
							<div class="char_subtitle">3 articles</div>
						</div>
					</div>
				</div>

				<!-- Finance -->
				<div class="col-lg-3 col-md-6 char_col ">
					
					<div class="card char_item d-flex flex-row align-items-center justify-content">
						<div class="char_icon"><img class="image" src="assets/images/finance1.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Finance</div>
							<div class="char_subtitle">5 articles</div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>
